@use 'partial'; // Henter partial filen ind som modul

//Fonts
@font-face {
    font-family: 'Pixelify';
    src: url(../fonts/PixelifySans-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 900; /* variable range */
    font-style: normal;
}

//Generel styling
body{
  background-color: #87CEFA;
  font-family: 'Courier New', Courier, monospace;
}

h2{
  font-size: 200px;
}

