// Base
$white: #ffffff;
$black: #000000;

//Baggrunsfarve
$background-color: #87CEFA;

// Grå / neutrale
$gray-light: #f8f8f8;
$gray-border: #e0e0e0; 
$gray-darker: #f8f8f8a9;

// Tekst
$text-dark: #333333;
$text-mid: #555555;

// Accenter
$blue: #219ebc; 
$blue-light: #8ecae6;
$accent: #4f46e5;

// Shadows
$shadow-light: rgba(0,0,0,0.08);
$shadow-strong: rgba(0,0,0,0.3);
